.gallery{
    display: flex;
    &__item{
        width: 25%;
        img{
            width: 100%;
        }
    }

    // MEDIA
    @media (max-width: $laptop){
        flex-wrap: wrap;
        &__item{
            width: 50%;
        }
    }
}