.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background .2s linear;

    &__inner{
        height: 80px;
    }

    &.active{
        background-color: $white;

        // nav
        .nav__link{
            color: $black;
        }

        .nav__logo{
            opacity: 1;
            transform: translateY(0);
        }
    }

}