.intro{
    background: linear-gradient(rgba($black, .5)), url('../images/intro/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__inner{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: relative;
    }

    &__helm{
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__opening-times{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate3d(-45%, -50%, 0) rotate(-90deg);
        color: $white;
        font-size: 12px;
        font-weight: 700;
    }
    &__sup-title, &__title{
        color: $white;
        text-transform: uppercase;
    }

    &__sup-title{
        font-size: 20px;
        margin-bottom: 14px;
        letter-spacing: .5em;
    }

    &__title{
        font-family: 'Banny Bold Round';
        font-size: 96px;
        margin-bottom: 35px;
        position: relative;
        padding-bottom: 30px;

        &::after{
            display: block;
            content: '';
            position: absolute;
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%);
            width: 10%;
            height: 5px;
            background-color: $yellow;
            border-radius: 20px;
        }
    }

    &__btns{
        button:nth-child(1){
            margin-right: 40px;
        }
    }

    &__down{
        position: absolute;
        bottom: 40px;
        background-color: $white;
        border-radius: 50%;
        padding: 20px;
        font-size: 15px;
        cursor: pointer;
        transition: all .2s linear;
        
        &:hover{
            transform: translateY(-10px) scale(1.1);
            background-color: $yellow;
            color: $white;
        }
    }

    // MEDIA
    @media (max-width: $laptop){
        &__sup-title{
            font-size: 18px;
        }

        &__title{
            font-size: 64px;
        }
    }

    @media (max-width: $tablet){
        &__helm{
            display: block;
            width: 200px;
        }

        &__sup-title{
            font-size: 16px;
        }

        &__title{
            font-size: 48px;
        }

        &__btns{
            display: flex;
            flex-direction: column;
            button:nth-child(1){
                margin-right: 0;
                margin-bottom: 40px;
            }
        }

        &__opening-times{
            display: none;
        }

        .social{
            display: none;
        }
    }

    @media (max-width: $mobile){
        &__helm{
            width: 100px;
        }
    }

    @media (max-width: $mobile-sm){
        &__helm{
            top: 10px;
            width: 80px;
        }
    }
}
