.menu{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    &__item{
        border-right: 1px solid rgba(#333, .2);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: $black;

        a{
            display: block;
            padding: 20px 40px;
            color: inherit;
            text-decoration: none;
            transition: background .2s linear;

            &:hover{
                background-color: $yellow;
            }

            &.active{
                background-color: $yellow;
            }

            &:focus{
               outline: none;
            }
        }

        &:last-child{
            border-right: 0;
        }
    }
}