.menu-list{
    display: flex;
    justify-content: space-between;

    &__col{
        width: 30%;
    }

    &__item{
        color: $black;
        margin-bottom: 30px;

        &:last-child{
            margin-bottom: 0;
        }
    }

    &__link{
        color: inherit;
        text-decoration: none;

        p:nth-child(1){
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: #333;
        }

        p:nth-child(2){
            font-size: 12px;
            font-weight: 300;
            color: rgba(#333, .5);
        }
    }
}