.nav{
    display: flex;
    justify-content: space-between;
    &__list{
        display: flex;
        align-items: center;
    }

    &__item{
        color: white;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 37px;
        cursor: pointer;
        transition: background .2s linear;

        &:hover{
            background-color: $yellow;
        }


    }

    &__link{
        color: inherit;
        text-decoration: none;
    }
}