.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    &__list{
        display: flex;
        align-items: center;
        height: 100%;
        width: 40%;
    }

    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 25%;
        color: white;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        transition: background .2s linear;

        &:hover{
            background-color: $yellow;
        }


    }

    &__link{
        display: block;
        color: inherit;
        text-decoration: none;
        transition: color .2s linear;
    }

    &__logo{
        height: 80%;
        opacity: 0;
        transform: translateY(-20px);
        transition: all .2s linear;

        &-icon{
            height: 100%;
        }
    }
}